<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>source</key>
	<array>
		<string>BTAnb   | http://www.btanb.com/search/%@-first-asc-1</string>
		<string>BTKiki   | http://www.btkiki.com/s/%@.html</string>
		<string>BTURLs | http://www.bturls.net/search/%@_ctime_1.html</string>
	</array>
	<key>version</key>
	<string>20170315</string>
</dict>
</plist>
